* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: white;

	font-size: 4vh;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 130%;
}

pr-presentation {
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

pre {
	font-size: 2vh;
	background: #eee;
	border: 1px solid #777;
	padding: 1em 2em;
	overflow: auto;
}

.two-col {
	display: flex;
	flex-direction: row;
}

.two-col .col {
	width: calc(50% - 0.5em);
	margin-left: 1em;
}

.two-col .col:first-child {
	margin-left: 0;
}

.light-text {
	color: #999;
}